 

 .vertical-menu{
  height: 100%;
 }

.menuBir {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  background-color: #f1f1f1;
}

.menuIki .menuUc {
  display: block;
  color: #000;
   padding: 15px 2px 4px 4px;
  text-decoration: none;
}

/* Change the link color on hover */
.menuIki .menuUc:hover {
  background-color: #555;
  color: white;
}


.page-section{
	padding-top: 110px;
	
}
.my-custom-scrollbar {
position: relative;
height: 500px;
overflow: auto;
border: 23px;
background-color:#FFE4C4;
}

.table-wrapper-scroll-y {
display: block;
}

.row{
	padding-left: 33px;
	padding-right: 33px;
}

tr {
width: 100%;
height: 12px;
display: inline-table;
table-layout: fixed;
}


table{
  height:550px;              // <-- Select the height of the table
 display: -moz-groupbox;    // Firefox Bad Effect
}
tbody{
  overflow-y: scroll;      
  height: 490px;            //  <-- Select the height of the body
  width: 100%;
  position: absolute;
}

 
/* button space*/
.btn-space {

	color: white;
	background-color: green;
    margin-right: 55px;
}


/*That is for search button*/
.btn-space1{
	margin-right: 25px;
}

/*that is for right row */
.right_row{
	 
	 border: 1px solid  #696969;
}

.left_row{
	border: 1px solid  #696969;
}

/*There we can space between catagory option and tag*/
.option_space{
	margin-right: 15px;
}
.control-group{
	padding-left: 5px;
	padding-top: 5px;
	
}


/*There we can set the h1 of about page*/
.about{
	padding-left: 500px;
	background-color: red;
}
.Contact{
	background-color: blue;
}
